**/.DS_Store
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/bundles
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/gradle-*.properties
/gradle.properties
test-results
.history/
.vscode/
.jfrog/